.searchLocationsComponent {
  z-index: 2;
  width: 20%;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;

  .searchLocationFormContainer {
    display: block;
    background-color: #306b34;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 20px;
  }

  .searchLocationsButtonContainer {
    display: block;
    background-color: #306b34;
    height: fit-content;
    display: flex;
    width: fit-content;
    justify-content: flex-end;
    padding: 20px;
    margin: 20px;
    border: 2px solid #306b34;
    border-radius: 50px;

    transition: all 0.5s linear;

    &:hover {
      background-color: white;
      cursor: pointer;

      p {
        color: #306b34;
        margin-right: 15px;
        display: inline;
      }

      svg {
        color: #306b34;
      }
    }

    p {
      color: white;
      display: none;
      margin-right: 15px;

      @media screen and (max-width: 1000px) {
        margin-right: 15px;
        // display: inline;
      }
    }

    svg {
      color: white;
      width: 1.4em;
    }
  }

  .searchLocationForms {
    color: white;

    form {
      display: block;
      padding-bottom: 5px;
      label {
        font-size: 1.2em;
      }
      .inputButtonContainer {
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        justify-content: space-between;

        input,
        select {
          box-sizing: border-box;
          border-color: #306b34;
          width: 67.5%;
        }

        button {
          flex-basis: 30%;
          border-color: white;
          margin: 0;

          &:hover {
            border: 1px solid white;
          }
        }
      }
    }

    button {
      border-color: white;
      &:hover {
        border: 1px solid white;
      }
    }
  }
}
