@use "../../../src/styles/colors.module.scss" as colors;

.forogtPassword {
  width: fit-content;
  padding: 2% 3%;
  margin: 0 auto;
  border: colors.$white 2px solid;
  border-radius: 10px;
  background-color: colors.$white;

  button {
    margin-left: 0;
  }

  .title {
    width: fit-content;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }

  .forgotPasswordForm {
    & > label {
      display: block;
      font-size: 1.2em;
      font-weight: normal;
      margin-bottom: 0.2em;

      input {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .buttons {
      margin-top: 0.5em;
    }
  }
}
