.trackList {
  margin: 0% 0% 0% 1%;
  width: 79%;
  height: 100%;

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: gray;
    }
  }

  * {
    scrollbar-width: auto;
    scrollbar-color: #306b34 white;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: white;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #306b34;
    border-radius: 10px;
    border: 3px solid white;
  }

  .trackTitle {
    font-size: 2.5em;
    margin-top: 1%;
  }

  .routesContainer {
    overflow: scroll;
    height: 80%;
    .routeCard {
      border: 1px black solid;
      border-radius: 4px;
      padding: 0.75% 1%;
      margin: 1em 1em 0em 0;

      .routeTitle {
        font-size: 1.4em;
        margin-bottom: 0.5%;
      }
      .routeStats {
        display: flex;

        .routeDistance {
          margin-right: 1%;
        }

        p {
          display: inline-block;
          font-size: 1.2em;
        }
      }
    }
  }
}
