.searchComponent {
  width: 20%;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;

  @media screen and (max-width: 1000px) {
    width: 97%;
  }

  .searchFormContainer {
    background: #306b34;
    margin-right: 20px;
    width: 100%;
    padding: 3%;
    border-radius: 4px;

    label {
      width: max-content;
    }

    button {
      margin-left: 0;
    }
  }

  .searchButtonContaier {
    display: block;
    background-color: #306b34;
    height: fit-content;
    display: flex;
    width: fit-content;
    justify-content: flex-end;
    padding: 20px;
    margin: 20px;
    border: 2px solid #306b34;
    border-radius: 50px;

    transition: all 0.5s linear;

    &:hover {
      background-color: white;
      cursor: pointer;

      p {
        color: #306b34;
        margin-right: 15px;
        display: inline;
      }

      svg {
        color: #306b34;
      }
    }

    p {
      color: white;
      display: none;
      margin-right: 15px;

      @media screen and (max-width: 1000px) {
        margin-right: 15px;
        display: inline;
      }
    }

    svg {
      color: white;
      width: 1.4em;
    }
  }

  .searchButtonContaier {
  }
}
