@use "../../../src/styles/colors.module.scss" as colors;

.profileInfoComponent {
  color: colors.$white;
  background-color: colors.$primary-green;
  border-radius: 4px;
  padding: 1% 1.5%;
  font-size: 1.3em;

  .profileInfoComponentTitle {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.2em;
  }

  .profileInfoComponentText {
    margin-bottom: 0.1em;
  }
}
