.routeInfoComponent {
  border-radius: 4px;
  width: 49.5%;
  height: 100%;
  display: block;

  .routeStatsContainer {
    width: 100%;
    height: 100%;

    .routeStatsHeader {
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0.5em;
      border: 2px solid black;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      p {
        font-size: 1.5em;
      }

      svg {
        width: 2em;
      }
    }

    .routeStatsDashboard {
      display: flex;
      width: 100%;
      height: fit-content;

      .routeStat {
        width: 33.33%;
        height: 100%;
        border: 2px solid black;

        .routeStatValue {
          display: flex;
          padding-top: 1em;
          width: fit-content;
          margin: 0 auto;
          font-size: 2em;

          @media screen and (max-width: 1000px) {
            font-size: 1.6em;
          }

          p {
            font-weight: bold;
          }

          .routeStatValueMetric {
            margin-left: 0.1em;
          }
        }
        .routeStatLabel {
          width: fit-content;
          width: fit-content;
          margin: 0.5em auto 0 auto;
          font-size: 1.7em;
          font-style: italic;

          @media screen and (max-width: 1000px) {
            font-size: 1.5em;
          }
        }
      }
    }

    .routeDescriptionContainer {
      height: fit-content;
      border: 2px black solid;
      padding: 0.5em 0.7em;

      .routeDifficultyContainer {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0.5em 0em;

        svg {
          width: 1.5em;
        }
        p {
          font-size: 1.6em;
          margin-left: 0.5em;
          text-transform: capitalize;
        }
      }

      .routeDescription {
        font-size: 1.3em;
      }
    }

    .intructionsButton {
      width: 100%;
      margin-left: 0;
      padding: 0.5em 0.5em;
      font-size: 1.5em;
      background-color: #306b34;
      color: white;
      border: 2px solid #306b34;

      &:hover {
        background-color: white;
        color: #306b34;
        border: 2px solid #306b34;
      }
    }

    .routeElevationContainer {
    }
  }

  @media screen and (max-width: 1000px) {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: block;

    .routeStatLabel {
      font-size: 1.5em;
    }

    .routeStatValue {
      font-size: 1.6em;
    }
  }
}
