.exploreList {
  margin: 0% 0% 0% 1%;
  // width: 79%;
  width: 85%;
  height: 100%;

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: white;

      .routeCard {
        border: 2px #306b34 solid;
        background-color: #306b34;
      }
    }
  }

  * {
    scrollbar-width: auto;
    scrollbar-color: #306b34 white;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: white;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #306b34;
    border-radius: 10px;
    border: 3px solid white;
  }

  .exploreTitle {
    font-size: 2.5em;
    margin-top: 1%;
  }

  .routesContainer {
    overflow: scroll;
    // height: 80%;
    height: 95%;

    .routeCard {
      border: 2px black solid;
      border-radius: 4px;
      padding: 0.75% 1%;
      margin: 1em 1em 0em 0;

      .routeTitle {
        font-size: 1.6em;
        margin-bottom: 0.5%;
      }
      .routeStats {
        display: flex;

        .routeDuration,
        .routeDifficulty {
          display: flex;
          margin-right: 1em;

          svg {
            width: 1em;
            margin-right: 0.2em;
          }
        }

        .routeDistance {
          margin-right: 1%;
        }

        p {
          display: inline-block;
          font-size: 1.35em;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    width: 100%;
    .exploreList {
      margin: 0;
    }
    .exploreTitle {
      margin: 2% 0;
      font-size: 1.6em;
    }

    .routeCard {
      margin: 0 0 0.5em 0 !important;
    }
  }
}
