@use "../../../src/styles/colors.module.scss" as colors;

.navigationBarComponent {
  width: 7.5%;
  background-color: colors.$primary-green;
  height: 100vh;
  transition: width 0.3s;
  transition-timing-function: ease;
  // display: block;
  z-index: 2;

  // position: absolute;

  &:hover {
    width: 15%;
    position: absolute;
    z-index: 3;
    height: 100vh;

    .navigationLinks {
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .navigationIcon {
      display: none;
    }
  }

  &:hover ~ .mainContentContainer {
    padding-left: 7.5%;
  }

  .navigationLogoContainer {
    display: block;
    width: 2em;
    margin: 1em auto;
    color: colors.$white;
  }

  .navigationLinks {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    transition: 0.3s;
    transition-timing-function: ease;
    width: fit-content;

    a {
      display: block;
      width: 100%;
      text-decoration: none;
      color: colors.$white;
      font-size: 1.4em;
      margin-bottom: 0.25em;
    }
  }

  .navigationIcon {
    display: block;
    width: 2em;
    margin: 1em auto;
    color: colors.$white;
    position: absolute;
    bottom: 0;
    left: 2.5%;
    // transition: width 0.3s;
    // transition-timing-function: ease-out;
    animation: leftToRightLoop 2s ease-in-out infinite;

    @keyframes leftToRightLoop {
      0% {
        transform: translateX(0px);
      }
      25% {
        transform: translateX(5px);
      }
      75% {
        transform: translateX(-5px);
      }
      100% {
        transform: translateX(0px);
      }
    }
  }

  @media screen and (max-width: 1000px) {
    display: none !important;
  }
  @media screen and (min-width: 1000px) {
    display: block;
  }
}
