.welcomeMessage {
  color: black;
  background-color: white;
  font-size: 2.2em;
  position: fixed;
  border-radius: 4px;
  margin: 1% 2%;
  padding: 0.25em 0.5em;
  width: -moz-fit-content;
  width: fit-content;
}

.homeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
