.main {
  width: 100%;
  display: flex;
  vertical-align: middle;
  margin-top: 15%;

  .titleSection {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    .title {
      font-size: 3em;
      padding-bottom: 2%;
    }

    .subTitle {
      font-size: 1.5em;
    }
  }

  .divider {
    width: 2%;
    border-left: solid black 2px;
  }

  .authenticationComponent {
    width: 49%;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
