.route {
  padding: 1% 2%;
  width: 100%;

  .routeName {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .routeDescription {
    font-size: 1.4em;
  }

  .routeDuration {
  }
}
