@import "./colors.module.scss";
@import "./fonts.module.scss";

html {
  scroll-behavior: smooth;
  margin: 0;
  font-size: clamp(16px, 1.2vw, 21px);
  background-color: $white;
  font-family: Gotham;
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
}

button {
  font-family: Gotham;
  font-size: 1em;
  background-color: white;
  border-radius: 4px;
  margin: 1%;
  border: black solid 1px;
  cursor: pointer;

  &:hover {
    background-color: #306b34;
    color: white;
    border: #306b34 1px solid;
  }
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

textarea,
input,
select {
  border: 2px black solid;
  border-radius: 4px;
  font-family: Gotham;
  color: black;
  // font-weight: bold;
}

textarea {
  padding: 0;
}

label {
  display: block;
  margin-bottom: 0.5%;

  #text {
    margin-right: 0.5%;
  }
}
