.createMarkerFormContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  border-radius: 4px;

  .createMarkerTitle {
    font-size: 1.5em;
  }
}
