.deleteAccountPopUp {
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  width: 60%;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  height: 60%;
  padding: 1em 1.5em;
  color: black;

  .popUpTitle {
    font-size: 2em;
    width: fit-content;
    margin: 1% auto;
  }

  .popUpSubTitle {
    font-size: 1.5em;
    width: fit-content;
    margin: 2% auto 1% auto;
  }

  .deleteAccountForm {
  }
}
