.drawFormComponent {
  width: 70%;
  position: absolute;
  height: auto;
  margin: 10% auto;
  background-color: lightcoral;
  top: 0;
  left: 15%;
  z-index: 1;

  .formTitle {
  }

  .drawForm {
  }
}
