.createAccount {
  width: fit-content;
  padding: 2% 3%;
  margin: 0 auto;
  border: black 2px solid;

  .title {
    width: fit-content;
    font-size: 1.5em;
    font-weight: bold;
  }

  .createAccountForm {
    & > label {
      display: block;
      font-size: 1.2em;
      font-weight: normal;

      input {
        display: block;
        width: 100%;
      }
    }
  }
}
