@use "../../src/styles/colors.module.scss" as colors;

.mapContainer {
  height: 100vh;
  z-index: 1;
}

.mapboxgl-canvas {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .drawComponentContainer {
    height: -webkit-fill-available;
  }

  .mapContainer {
    height: 100%;
  }
}

.saveButton {
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 2;
  border: solid colors.$white 2px;
  font-size: 1.5em;
  background-color: colors.$white;
  padding: 10px 15px;
  display: flex;

  svg {
    width: 1em;
    margin-right: 0.5em;
  }

  &:hover {
    border: 2px solid colors.$primary-green;
  }
}
